<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="todos" *ngIf="todos">
      <table class="table">
        <thead class="h">
      <tr class="h">
        <th class="h">Text</th>
      </tr>
        </thead>
        <tbody>

        <tr class="todo" *ngFor="let todo of todos" (dblclick)="editTodo(todo)" >

          <td>{{todo.text}}</td>
          <td>
            <button class="btn btn-primary" (click)="editTodo(todo)">
              <i  class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteTodo(todo)">
              <i  class="fa fa-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">
        <div class="col-md-5">
          <input type="text" name="text" id="text1" [(ngModel)]="newTodo.text" placeholder="Write new todo here" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createTodo()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="todos" *ngIf="todos">
      <table class="table">
        <thead class="h">
        <tr class="h">
          <th class="h">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr class="todo" (dblclick)="editTodo(todo)" *ngFor="let todo of todos">

          <ng-container *ngIf="!editTodos.includes(todo); else editTD">
            <td>{{todo.text}}</td>
          </ng-container>

          <ng-template #editTD>
            <td><input type="text" name="text" id="text2" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.text" placeholder="Write it here" class="form-control"></td>
          </ng-template>

          <td class="o">
            <button class="btn btn-primary" (click)="editTodo(todo)">
              <i  class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteTodo(todo)">
              <i  class="fa fa-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="text" id="text3" [(ngModel)]="newTodo.text" placeholder="Write it here" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="createTodo()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>

<div class="container">

  <!-- HEADER AND TODO COUNT -->
  <div class="jumbotron text-center">
    <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
  </div>

  <!-- TODO LIST -->
  <div id="todo-list" class="row" *ngIf="todos.length > 0">
    <div class="col-sm-4 col-sm-offset-4">

      <!-- LOOP OVER THE TODOS IN $scope.todos -->
      <div class="checkbox" *ngFor="let todo of todos">
        <label>
          <input type="checkbox" (click)="deleteTodo(todo)"> {{ todo.text }}
        </label>
      </div>

    </div>
  </div>

  <!-- FORM TO CREATE TODOS -->
  <div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <input type="text" name="todo" class="form-control input-lg text-center" placeholder="Put the new todo's text here" [(ngModel)]="newTodo.text">
        </div>

        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" (click)="createTodo()">Add</button>
      </form>
    </div>
  </div>

</div>

